# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
.conda/
/envs/

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Data
data/
*.csv
*.parquet
*.feather
*.zip
*.jsonl
*.tar.gz
*.rar

# Models and Checkpoints
models/
model.h5
*.pkl
*.joblib
*.onnx
*.pb

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE files
.vscode/
.idea/

# MacOS / System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python secrets file
secrets.py

# Cache / experiment tracking
*.cache/
wandb/
mlruns/
